body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

.cadre{
    border-radius: 15px;
    padding: 30px;
    background-color: white;
    box-shadow: 10px 10px 20px yellow;
}

h1{
    color:black;
}
h2{
    color: yellowgreen;
}
h3{
    color: yellowgreen;
}
header{
    background-color: white;
}
p{
    color: #1e7e34;
}
.case h3{
    color: black;
}
.case p{
    color: yellowgreen;
}
.case{
    box-shadow: 10px 10px 20px yellow;

}