html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f5f6f7;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    flex: 1;
}


body {
    padding-top: 70px;
}

#map {
    height: 300px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 100%;
}
