

.login{
    border: 1px solid #ffc107;
    background-color: #ffc107;
    color : white !important;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
}
.login:hover{
    background-color: white;
    color : #ffc107 !important;
    text-decoration: none;
}

.footer {
    background-color: #001219;
    color: white;
    padding: 2rem 0;
    text-align: center;
}
.footer a { color: white; }
.active{
    color : #ffc107 !important;
}
nav li a {
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;
}

nav li a:hover:not(.active) {
    color: #ffc107 !important;
    text-decoration: none;
}


.logo{
    width: 30%;
    height: 15%;
    margin-right: 5%;
}